body{
  background-color: burlywood;
}

.App {
  text-align: center;
}

.todo-list{
  list-style-type: none;
  text-align: center;
}

.todo-list-items{

}

.task-text{
  text-align: center;
  min-width: 25vw;
  max-width: 80vw;
  border: 2px solid #290000;
  background-color: teal;
}