body{
  background-color: burlywood;
}

Form{
  padding-top: 10em;
}

.todo-list{
  list-style-type: none;
  text-align: center;
  padding-top: 2.5em;
}

.todo-list-items{
  margin-bottom: 1em;
}

.task-text{
  text-align: center;
  min-width: 25vw;
  max-width: 80vw;
  border: 2px solid #290000;
  background-color: teal;
}